.ns-fadein {
	animation-name: fadein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.ns-fadeout {
	animation-name: fadeout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.ns-slidein {
	animation-name: slidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.ns-slideout {
	animation-name: slideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.ns-fadeslidein {
	animation-name: fadeslidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.ns-fadeslideout {
	animation-name: fadeslideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slidein {
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideout {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes fadeslidein {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes fadeslideout {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 0;
		transform: translateX(-100%);
	}
}
.btn-toggle {
	/* color: var(--bs-gray-700); */
	color: rgba(var(--bs-dark-rgb), 0.7);
	font-weight: calc(var(--bs-body-font-weight) * 1.5);
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	display: inline-block;
}

.bg-dark .btn-toggle {
	/* color: var(--bs-gray-300); */
	color: rgba(var(--bs-light-rgb), 0.7);
}

.btn-toggle:hover {
	/* background-color: var(--bs-gray-100); */
	background-color: rgba(var(--bs-primary-rgb), 0.1);
	/* background-image: var(--bs-gradient); */
}

.bg-dark .btn-toggle:hover {
	/* background-color: var(--bs-gray-700); */
	background-color: rgba(var(--bs-primary-rgb), 0.1);
	/* background-image: var(--bs-gradient); */
}

.btn-toggle::before {
	text-align: center;
	width: 1.25em;
	line-height: 0;
	content: "\f054";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: transform 0.35s ease;
	transform-origin: 0.5em 50%;
	display: inline-block;
}

.btn-toggle[aria-expanded="true"] {
	/* color: var(--bs-gray-900); */
	color: rgba(var(--bs-dark-rgb), 0.9);
}

.bg-dark .btn-toggle[aria-expanded="true"] {
	/* color: var(--bs-gray-100); */
	color: rgba(var(--bs-light-rgb), 0.9);
}

.btn-toggle[aria-expanded="true"]::before {
	transform: rotate(90deg);
}

.btn-toggle-nav {
	padding-left: 1.6rem;
	list-style: none;
	margin: 0;
}

.btn-toggle-nav li div {
	/* color: var(--bs-gray-700); */
	color: rgba(var(--bs-dark-rgb), 0.7);
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
}

.bg-dark .btn-toggle-nav li div {
	/* color: var(--bs-gray-400); */
	color: rgba(var(--bs-light-rgb), 0.7);
}

.btn-toggle-nav li div:hover {
	/* background-color: var(--bs-gray-100); */
	background-color: rgba(var(--bs-primary-rgb), 0.1);
	/* background-image: var(--bs-gradient); */
}

.bg-dark .btn-toggle-nav li div:hover {
	/* background-color: var(--bs-gray-700); */
	background-color: rgba(var(--bs-primary-rgb), 0.1);
	/* background-image: var(--bs-gradient); */
}

.btn-toggle-nav li div.active {
	font-weight: calc(var(--bs-body-font-weight) * 1.5);
	/* color: var(--bs-gray-900); */
	color: rgba(var(--bs-dark-rgb), 0.9);
}

.bg-dark .btn-toggle-nav li div.active {
	/* color: var(--bs-gray-100); */
	color: rgba(var(--bs-light-rgb), 0.9);
}
.float-center-screen {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
pre.prettyprint {
	border: 0 !important;
	display: inline-block !important;
	overflow: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.mx-1-element > * {
	margin: 0 0.25em;
}

.m-1-element > * {
	margin: 0.25em;
}

.me-1-element > * {
	margin-left: 0.25em;
}

.mb-1-element > * {
	margin-bottom: 0.25em;
}

.mx-2-element > * {
	margin: 0 0.5em;
}

.m-2-element > * {
	margin: 0.5em;
}

.me-2-element > * {
	margin-left: 0.5em;
}

.mb-2-element > * {
	margin-bottom: 0.5em;
}

.mx-3-element > * {
	margin: 0 0.75em;
}

.m-3-element > * {
	margin: 0.75em;
}

.me-3-element > * {
	margin-left: 0.75em;
}

.mb-3-element > * {
	margin-bottom: 0.75em;
}

.mx-4-element > * {
	margin: 0 1em;
}

.m-4-element > * {
	margin: 1em;
}

.me-4-element > * {
	margin-left: 1em;
}

.mb-4-element > * {
	margin-bottom: 1em;
}

.mx-5-element > * {
	margin: 0 1.25em;
}

.m-5-element > * {
	margin: 1.25em;
}

.me-5-element > * {
	margin-left: 1.25em;
}

.mb-5-element > * {
	margin-bottom: 1.25em;
}

.anchorjs-link {
	font-weight: 400;
	color: rgba(var(--bs-primary-rgb), 0.5);
	transition: color 0.15s ease-in-out;
	text-decoration: none;
	opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
	.anchorjs-link {
		transition: none;
	}
}

.anchorjs-link:focus,
.anchorjs-link:hover {
	color: var(--bs-primary);
	text-decoration: none;
}

:hover > .anchorjs-link,
.anchorjs-link:focus {
	opacity: 1;
}

[data-anchorjs-icon]::after {
	content: attr(data-anchorjs-icon);
}

.table {
	font-size: 0.875em;
}
@media (min-width: 768px) {
	.w-md-100 {
		width: 100% !important;
	}

	.w-md-75 {
		width: 75% !important;
	}

	.w-md-50 {
		width: 50% !important;
	}

	.w-md-25 {
		width: 25% !important;
	}

	.w-md-0 {
		width: 0% !important;
	}

	.w-md-auto {
		width: auto !important;
	}

	.h1-md {
		font-size: calc(1.375rem + 1.5vw) !important;
	}

	.h2-md {
		font-size: calc(1.325rem + 0.9vw) !important;
	}

	.h3-md {
		font-size: calc(1.3rem + 0.6vw) !important;
	}

	.h4-md {
		font-size: calc(1.275rem + 0.3vw) !important;
	}

	.h5-md {
		font-size: 1.25rem !important;
	}

	.h6-md {
		font-size: 1rem !important;
	}
}
.font-fa,
.font-fa optgroup,
.font-fa option {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
}
.favicon {
	width: 1.25rem;
	line-height: 1rem;
}
@keyframes nsanimation {
	0% {
		background-color: rgba(112, 112, 112, 0);
	}
	50% {
		background-color: rgba(112, 112, 112, 0.3);
	}
	100% {
		background-color: rgba(112, 112, 112, 0);
	}
}

.ns-highlight {
	animation-name: nsanimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

/* list group */
.list-group.ns-list-group,
.ns-list-container .ns-list-control {
	/* inherits from bootstrap */
	margin-bottom: 1em; /* mb-3 */
}

/* list item */
.list-group.ns-list-group .list-group-item {
	/* inherits from bootstrap */
	justify-content: space-between !important; /* justify-content-between */
	display: flex !important; /* d-flex */
	cursor: pointer;
}

/* front part */
.list-group.ns-list-group .list-group-item > div:first-child {
	/* inherits from bootstrap */
	align-items: center !important; /* align-items-stretch */
	justify-content: flex-start !important; /* justify-content-start */
	display: flex !important; /* d-flex */
}

/* icon part */
.list-group.ns-list-group .ns-item-picture,
.list-group.ns-list-group .ns-item-icon,
.list-group.ns-list-group .ns-item-check,
.ns-list-header .ns-item-picture,
.ns-list-header .ns-item-icon {
	/* inherits from bootstrap */
	margin-right: 1rem !important; /* me-3 */
	align-items: center !important; /* align-items-center */
}

/* check part if NOT check mode*/
.ns-list-container .ns-item-check {
	display: none !important; /* d-none */
}

.ns-mode-check .ns-item-check {
	display: flex !important; /* d-flex */
}

/* check part color mode on checked*/
.ns-list-container .ns-item-check i.fa-stack-2x {
	/* color: #6c757d !important; */
	color: var(--bs-secondary) !important;
}

.ns-list-container .list-group-item.ns-checked .ns-item-check i.fa-stack-2x {
	/* color: #198754 !important; */
	color: var(--bs-success) !important;
}

/* icon, picture and control part if NOT check mode*/
.ns-item-picture,
.ns-item-icon {
	display: flex !important; /* d-flex */
}
/* .ns-item-control {
	display: flex !important;
} */

/* icon, picture and control part if check mode*/
.ns-mode-check .ns-item-icon,
.ns-mode-check .ns-item-picture,
.ns-mode-check .ns-item-control {
	display: none !important; /* d-none */
}

/* picture container part */
.list-group.ns-list-group .ns-item-picture > div,
.ns-list-header .ns-item-picture > div {
	border-radius: 50%;
	width: 2.7em;
	height: 2.7em;
	overflow: hidden;
	margin: 0 0.3em;

	/* inherits from bootstrap */
	border: 1px solid #dee2e6 !important; /* border */
	display: flex !important; /* d-flex */
}

/* picture part */
.list-group.ns-list-group .ns-item-picture img,
.ns-list-header .ns-item-picture img {
	width: 2.8em;
}

/**/

/* back part */
/* .list-group.ns-list-group .ns-item-control { */
/* inherits from bootstrap */
/* align-items: center !important; align-items-center */
/* margin: -0.5em; m-n1 */
/* } */

/* .list-group.ns-list-group .ns-item-control .btn-group,
.list-group.ns-list-group .ns-item-control .dropdown { */
/* inherits from bootstrap */
/* margin: 0.5em; m-1 */
/* } */

/*
header
*/

.ns-list-header {
	/* inherits from bootstrap */
	margin-bottom: 1em !important; /* mb-3 */
	justify-content: center !important; /* justify-content-center */
	display: flex; /* d-flex */
	align-items: center !important; /* align-items-center */
}

.ns-list-header h5 {
	margin-bottom: 0 !important; /* mb-0 */
}

/*
controller
*/
.ns-list-control.ns-mode-normal,
.ns-mode-check .ns-list-control.ns-mode-check {
	display: flex !important; /* row */
	flex-wrap: wrap;
}

.ns-mode-check .ns-list-control.ns-mode-normal,
.ns-list-control.ns-mode-check {
	display: none !important; /* d-none */
}

/* .ns-list-control > *:not(:last-child) {
	margin-right: 0.5rem;
} */
body.print {
	background-color: none !important;
}

body.print .ns-list-control,
body.print .ns-item-control,
body.print .ns-item-check {
	display: none !important;
}

body.print .ns-list-group {
	border-radius: 0% i !important;
}

body.print .list-group-item {
	border-color: black !important;
}
/* .filter-rule select[name="from"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
} */
.ns-toc a:not(:hover) {
	text-decoration: none;
}
