pre.prettyprint {
	border: 0 !important;
	display: inline-block !important;
	overflow: auto !important;
	margin: 0 !important;
	padding: 0 !important;
}

.mx-1-element > * {
	margin: 0 0.25em;
}

.m-1-element > * {
	margin: 0.25em;
}

.me-1-element > * {
	margin-left: 0.25em;
}

.mb-1-element > * {
	margin-bottom: 0.25em;
}

.mx-2-element > * {
	margin: 0 0.5em;
}

.m-2-element > * {
	margin: 0.5em;
}

.me-2-element > * {
	margin-left: 0.5em;
}

.mb-2-element > * {
	margin-bottom: 0.5em;
}

.mx-3-element > * {
	margin: 0 0.75em;
}

.m-3-element > * {
	margin: 0.75em;
}

.me-3-element > * {
	margin-left: 0.75em;
}

.mb-3-element > * {
	margin-bottom: 0.75em;
}

.mx-4-element > * {
	margin: 0 1em;
}

.m-4-element > * {
	margin: 1em;
}

.me-4-element > * {
	margin-left: 1em;
}

.mb-4-element > * {
	margin-bottom: 1em;
}

.mx-5-element > * {
	margin: 0 1.25em;
}

.m-5-element > * {
	margin: 1.25em;
}

.me-5-element > * {
	margin-left: 1.25em;
}

.mb-5-element > * {
	margin-bottom: 1.25em;
}

.anchorjs-link {
	font-weight: 400;
	color: rgba(var(--bs-primary-rgb), 0.5);
	transition: color 0.15s ease-in-out;
	text-decoration: none;
	opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
	.anchorjs-link {
		transition: none;
	}
}

.anchorjs-link:focus,
.anchorjs-link:hover {
	color: var(--bs-primary);
	text-decoration: none;
}

:hover > .anchorjs-link,
.anchorjs-link:focus {
	opacity: 1;
}

[data-anchorjs-icon]::after {
	content: attr(data-anchorjs-icon);
}

.table {
	font-size: 0.875em;
}
